{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content=".">
  <title>Django-OpenAI</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="chat">
  <div class="chat-title">
    <h2>Django-OpenAI</h2>
    <figure class="avatar"><img src="your image"/></figure>
  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="action-box">
    <form id="message-form">
      <textarea class="action-box-input" type="text" placeholder="Type message..." autocomplete="off" required></textarea>
      <button class="action-box-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
    </form>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
